snippet func
function $1($2) {
	$0
}
endsnippet

snippet jqready
jQuery(document).ready(function($) {
	$0
});
endsnippet

snippet vue.c
Vue.component('$1', {
	data: function() {
		return {
			$0
		};
	}
});
endsnippet
