snippet docbloc
/**
 * $1
 */
$0
endsnippet

snippet pf
	public function $1($2) {
		$3
	}
endsnippet

snippet psf
	public static function $1($2) {
		$3
	}
endsnippet

snippet prf
	protected function $1($2) {
		$3
	}
endsnippet
